<h1>This is Employee dashboard</h1>

<h2>Existing Employees</h2>

{{!-- loop through allEmployees object --}}
<table id="employeesTable">
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each allEmployees}}
        <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{phone}}</td>
        <td>{{address}}</td>
        <td>
            <a href="#" class="editEmployee" id="{{_id}}">Edit</a>
        </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<button id="backToHome">Back to Home</button>

<button id="newEmployee">Create New Employee</button>
{{!-- form to create new employee --}}
<form hidden id="newEmployeeForm" action="/employee/new" method="POST">
    <div class="emailDiv">
        <label for="email">Email : </label>
        <input required type="text" id = "email" name="email" value="{{email}}" placeholder="email">
    </div>
    <div class="passwordDiv">
        <label for="password">Password : </label>
        <input type="password" required id = "password" name="password" value="{{password}}" placeholder="password">
    </div>
    <button id="cancelEmployee">cancel</button>
    <button type="submit" id="createEmployee">Create Employee</button>
</form>
{{!-- if error --}}
{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}