<h1>Employee Dashboard</h1>

<p>Hello, {{employee.firstName}} {{employee.lastName}}!</p>

<button class="btn btn-outline-primary" id="showEmployeeInfo">Show Account Information</button>

<div hidden id="employeeInfo">
    <button class="btn btn-outline-primary" id="hideEmployeeInfo">Hide Account Information</button>
    <ul>
        <li>Name: {{employee.firstName}} {{employee.lastName}}</li>
        <li>Gender: {{employee.gender}}</li>
        <li>Address: {{employee.address}}, {{employee.city}}, {{employee.state}}</li>
        <li>Phone: {{employee.phone}}</li>
    </ul>
</div>

{{#if isAdmin}}
<p class="mt-5">You are an administrator:</p>
<form action="/manager" method="GET">
    <button type="submit" class="btn btn-outline-primary" id="ManagerDashboard">Go to Manager Dashboard</button>
</form>
{{/if}}

{{#unless isAdmin}}
<div id="timeOffModal">
  <div id="timeOffModalContent">
    <span id="closeTimeOffModal">&times;</span>
    <h4 style="margin-top: 10px;">Request Time Off</h4>
    <br />
    <form action="/home" method="POST" id="timeOffForm">
      <div class="row align-items-center">
        <div class="col-md-6 mb-3">
          <label class="form-label" for="timeOffStartDate">From: (Start Date)</label>
          <input required type="date" class="form-control" id="timeOffStartDate" name="timeOffStartDate" value="" />
          <br />
          <label class="form-label" for="timeOffEndDate">To: (End Date)</label>
          <input required type="date" class="form-control" id="timeOffEndDate" name="timeOffEndDate" value="" />
          <br />
        </div>
        <div class="col-md-6">
          <button class="btn btn-outline-success" type="submit" id="addTimeOffReq">Submit Request</button>
          <p id="timeOffErrorMsg" class="small pt-3" hidden></p>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="timeOffUserEntries">
    <h4 class="floatLeftTimeOff">Time Off Requests</h4>
    <button class="btn btn-outline-primary" id="reqTimeOffBttn">Request Time Off</button>
    <table class="table table-striped table-hover" id="userTimeOffReqTable">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each timeOffUserEntries}}
                <tr>
                    <td>{{dateFormat timeOffStartDate "M/D/YYYY"}}</td>
                    <td>{{dateFormat timeOffEndDate "M/D/YYYY"}}</td>
                    {{#unless requestAcknowledged}}
                        <td>Pending</td>
                    {{else}}
                        {{#if requestAccepted}}
                            <td>Accepted</td>
                        {{else}}
                            <td>Declined</td>
                        {{/if}}
                    {{/unless}}
                    <td>
                        <button class="deleteTimeOffRequest btn btn-primary" id="timeOffReqDelete" value={{objId}} style="line-height: inherit; padding: revert;">Delete</button>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="4">No time off requests</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/unless}}

<div id="timeClock">
    <p id="time"></p>
    {{#if_eq employee.currentStatus "clockedOut"}}
    <p>Current status: <span style="font-weight: bold;">Clocked out</span></p>
    <form action="/clockIn" style="margin: 30px;" method="POST">
        <div class="row">
            <div>
                <label class="form-label" for="comment">Comment</label>
                <input class="form-control" id="comment" name="comment" type="text" placeholder="(optional)" />
            </div>
            <span id="buttons">
                <button class="col-4 btn btn-primary" style="height: 38px; margin-top: 32px;" type="submit">Clock in</button>
            </span>
        </div>
    </form>
    {{/if_eq}}
    {{#if_eq employee.currentStatus "clockedIn"}}
    <p>Current status: <span style="font-weight: bold;">Clocked in</span></p>
    <form style="margin: 30px;" method="POST">
        <div class="row">
            <div>
                <label class="form-label" for="comment">Comment</label>
                <input class="form-control" id="comment" name="comment" type="text" placeholder="(optional)" />
            </div>
            <span id="buttons">
                <button class="col-4 btn btn-primary" style="height: 38px; margin-top: 32px;" formaction="/clockOut" type="submit">Clock out</button>
                <button class="col-4 btn btn-primary" style="height: 38px; margin-top: 32px;" formaction="/clockOutLunch" type="submit">Lunch out</button>
            </span>
        </div>
    </form>
    {{/if_eq}}
    {{#if_eq employee.currentStatus "meal"}}
    <p>Current status: <span style="font-weight: bold;">Meal Break</span></p>
    <form style="margin: 30px;" method="POST">
        <div class="row">
            <div>
                <label class="form-label" for="comment">Comment</label>
                <input class="form-control" id="comment" name="comment" type="text" placeholder="(optional)" />
            </div>
            <span id="buttons">
                <button class="col-4 btn btn-primary" style="height: 38px; margin-top: 32px;" formaction="/clockInLunch" type="submit">Lunch in</button>
            </span>
        </div>
    </form>
    {{/if_eq}}

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
</div>

<h2>Previous Shifts</h2>

<table id="shiftsTable" class="table table-striped">
    <thead>
        <tr>
        <th>Date</th>
        <th>Hours Worked</th>
        <th>Lunch Hours</th>
        </tr>
    </thead>
    <tbody>
        {{#each shifts}}
        <tr>
            <td>{{date}}</td>
            <td>{{hoursString}}</td>
            <td>{{lunchHoursString}}</td>
        </tr>
        {{else}}
        <tr>
            <td colspan="100%">There are no shifts since last payroll calculation.</td>
        </tr>
        {{/each}}
        </tr>
    </tbody>
</table>

<script src="../../public/js/home.js" ></script>