<h1>Employee Dashboard</h1>

<p>Hello, {{employee.firstName}} {{employee.lastName}}!</p>

<button id="showEmployeeInfo">Show Account information</button>

<div hidden id="employeeInfo">
    <button id="hideEmployeeInfo">Hide Account information</button>
    <ul>
        <li>Name: {{employee.firstName}} {{employee.lastName}}</li>
        <li>Gender: {{employee.gender}}</li>
        <li>Address: {{employee.address}}, {{employee.city}}, {{employee.state}}</li>
        <li>Phone: {{employee.phone}}</li>
    </ul>
</div>

{{#if isAdmin}}
<p>You are an administrator:</p>
<form action="/manager" method="GET">
    <button type="submit" class="btn btn-outline-primary" id="ManagerDashboard">Manager Dashboard</button>
</form>
{{/if}}

<div id="timeClock">
    <p id="time"></p>
    {{#if_eq employee.currentStatus "clockedOut"}}
    <p>Current status: Clocked out</p>
    <form action="/clockIn" method="POST">
        <label for="comment">Comment: </label>
        <input id="comment" name="comment" type="text" placeholder="(optional)" />
        <br />
        <button type="submit">Clock in</button>
    </form>
    {{/if_eq}}
    {{#if_eq employee.currentStatus "clockedIn"}}
    <p>Current status: Clocked in</p>
    <form action="/clockOut" method="POST">
        <label for="comment">Comment: </label>
        <input id="comment" name="comment" type="text" placeholder="(optional)" />
        <br />
        <button type="submit">Clock out</button>
    </form>
    {{/if_eq}}
</div>


<footer>
    <a href="/logout">Logout</a>
</footer>

<script src="../../public/js/home.js" ></script>