<h1>Manager Dashboard</h1>

{{#if allEmployees}}
	<h2>Employee Management</h2>
	{{! loop through allEmployees object }}
	<table id="employeesTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{{#each allEmployees}}
				<tr>
					<td>{{firstName}} {{lastName}}</td>
					<td>{{email}}</td>
					<td>{{phone}}</td>
					<td>{{address}}</td>
					<td>
						<a href="#" class="editEmployee" id="{{_id}}">Edit</a>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{/if}}
{{#if isBusiness}}
	<input type="bool" hidden id="isBusiness" value="{{isBusiness}}" />
	<button hidden id="backToHome">Back to Home</button>
{{else}}
	<button id="backToHome">Back to Home</button>
{{/if}}

<button id="newEmployee">Create New Employee</button>
{{! form to create new employee }}
<form hidden id="newEmployeeForm" action="/manager/new" method="POST">
	<label for="email">Email : </label>
	<input required type="text" id="email" name="email" value="{{email}}" placeholder="Email" />
	<label for="password">Password : </label>
	<input required type="password" id="password" name="password" value="{{password}}" placeholder="Password" />
	<label for="firstName">First Name : </label>
	<input required type="text" id="firstName" name="firstName" value="{{firstName}}" placeholder="First Name" />
	<label for="lastName">Last Name : </label>
	<input required type="text" id="lastName" name="lastName" value="{{lastName}}" placeholder="Last Name" />
	<label for="gender">Gender :</label>
	<select name="gender" id="gender">
		<option value="Male">Male</option>
		<option value="Female">Female</option>
		<option value="Transgender">Transgender</option>
		<option value="Gender Neutral">Gender Neutral</option>
		<option value="Non-Binary">Non-Binary</option>
		<option value="Prefer Not to Say">Prefer Not to Say</option>
	</select>
	<label for="address">Address :</label>
	<input required type="text" id="address" name="address" value="{{address}}" placeholder="Address" />
	<label for="city">City :</label>
	<input required type="text" id="city" name="city" value="{{city}}" placeholder="City" />
	<label for="state">State :</label>
	<input required type="text" id="state" name="state" value="{{state}}" placeholder="State" />
	<label for="zip">Zip :</label>
	<input required type="text" id="zip" name="zip" value="{{zip}}" placeholder="Zip" />
	<label for="phoneNumber">Phone Number :</label>
	<input required type="text" id="phoneNumber" name="phoneNumber" value="{{phoneNumber}}" placeholder="Phone Number" />
	<label for="employmentStatus">Employment Status :</label>
	<select name="employmentStatus" id="employmentStatus">
		<option selected value="Full-Time">Full-Time</option>
		<option value="Part-Time">Part-Time</option>
		<option value="Contract">Contract</option>
		<option value="Intern">Intern</option>
		<option value="Temporary">Temporary</option>
		<option value="Volunteer">Volunteer</option>
		<option value="Other">Other</option>
	</select>
	<label for="isActiveEmployee">Is Active Employee :</label>
	<select name="isActiveEmployee" id="isActiveEmployee">
		<option selected value="true">True</option>
		<option value="false">False</option>
	</select>
	<label for="hourlyPay">Hourly Pay :</label>
	<input required type="number" id="hourlyPay" name="hourlyPay" value="{{hourlyPay}}" placeholder="Hourly Pay" />
	<label for="startDate">Start Date :</label>
	<input required type="date" id="startDate" name="startDate" value="{{startDate}}" placeholder="Start Date" />
	<label for="isManager">Is Manager :</label>
	<select name="isManager" id="isManager">
		<option value="true">True</option>
		<option value="false" selected>False</option>
	</select>
	<br />
	<button id="cancelEmployee">Cancel</button>
	<button type="submit" id="createEmployee">Create Employee</button>
</form>
{{! if error }}
{{#if error}}
	<p class="error">{{error}}</p>
{{/if}}

<footer>
	<a href="/logout">Logout</a>
</footer>