<div class="alert alert-dismissible fade show" style="position: fixed;  margin-left: 35%;" id="alert" hidden role="alert">
    <p class="mb-0" id="alertText">Successfully promoted employee to manager.</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div hidden id="updateBusinessAlert" class="alert alert-dismissible fade show" style="position: fixed; margin-left: 33%;" id="alert" hidden role="alert">
    <p class="mb-0" id="updateAlertText" style="margin-left:35px;">Successfully updated business info</p>
</div>
{{!-- if error --}}
{{#if error}}
    <div class="alert alert-dismissible alert-danger fade show" style="position: fixed;  margin-left: 35%;" role="alert">
      <p class="mb-0">{{error}}</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}
<div class="row">
    <div class="col-8">
      <h1 class="col-8">Manager Dashboard</h1>
    </div>
  <div class="col-4">
    {{!-- button to make store open, close --}}
    <button class="btn btn-primary" style="    margin-top: 10px; right: 42px; position: absolute;" id="storeStatus">{{#if storeOpen}} Close Store {{else}} Open Store {{/if}}</button>
  </div>
</div>

{{!-- create a search box to filter employees --}}
<div class="form-group row">
  <div class="col-6">
         <h2 style="margin-top:20px">Employee Management</h2>
     </div>
    <div class="col-6">
      <div style="display: flex;margin-top:20px">
        <label for="searchEmployee" id="searchEmployeeLabel" class="col-form-label" style="margin-right: 5px;">Search</label>
        <input type="text" class="form-control" id="searchEmployee" placeholder="Search for an employee">
        {{!-- show the matching results --}}
        <div id="searchResults">
          
        </div>
      </div>
        

    </div>
</div>

{{! form to create new employee }}
<form hidden id="newEmployeeForm" action="/manager/new" method="POST">
  <div class="row">
    <div class="col-12 mb-3">
      <label for="email" class="form-label">Email</label>
      <input required type="email" class="form-control" id="email" name="email" value="{{email}}" placeholder="Email" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="password" class="form-label">Password</label>
      <input required type="password" class="form-control" id="password" name="password" value="{{password}}" placeholder="Password" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input required type="password" class="form-control" id="confirmPassword" name="confirmPassword" value="{{confirmPassword}}" placeholder="Confirm Password" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input required type="text" class="form-control" id="firstName" name="firstName" value="{{firstName}}" placeholder="First Name" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input required type="text" class="form-control" id="lastName" name="lastName" value="{{lastName}}" placeholder="Last Name" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="gender" class="form-label">Gender Identity</label>
      <select class="form-select" aria-label="Default select example" name="gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Transgender">Transgender</option>
        <option value="Gender Neutral">Gender Neutral</option>
        <option value="Non-Binary">Non-Binary</option>
        <option value="Prefer Not to Say">Prefer Not to Say</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="address">Address</label>
      <input required type="text" class="form-control" id="address" name="address" value="{{address}}" placeholder="Address" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="city">City</label>
      <input required type="text" class="form-control" id="city" name="city" value="{{city}}" placeholder="City" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="state">State</label>
      <input required type="text" class="form-control" id="state" name="state" value="{{state}}" placeholder="State" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="zip">Zip</label>
      <input required type="text" class="form-control" id="zip" name="zip" value="{{zip}}" placeholder="Zip" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="phoneNumber">Phone Number</label>
      <input required type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="{{phoneNumber}}" placeholder="Phone Number" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="employmentStatus">Employment Status</label>
      <select class="form-select" aria-label="Default select example" name="employmentStatus" id="employmentStatus">
        <option selected value="Full-Time">Full-Time</option>
        <option value="Part-Time">Part-Time</option>
        <option value="Contract">Contract</option>
        <option value="Intern">Intern</option>
        <option value="Temporary">Temporary</option>
        <option value="Volunteer">Volunteer</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="isActiveEmployee">Is Active Employee</label>
      <select class="form-select" aria-label="Default select example" name="isActiveEmployee" id="isActiveEmployee">
        <option selected value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="hourlyPay">Hourly Pay</label>
      <input required type="number" class="form-control" id="hourlyPay" name="hourlyPay" value="{{hourlyPay}}" placeholder="Hourly Pay" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="startDate">Start Date</label>
      <input required type="date" class="form-control" id="startDate" name="startDate" value="{{startDate}}" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="isManager">Is Manager</label>
      <select class="form-select" aria-label="Default select example" name="isManager" id="isManager">
        <option value="true">True</option>
        <option value="false" selected>False</option>
      </select>
    </div>
    <div class="col-md-3 mb-3" style="margin-top: 2rem;">
      <button style="width: -webkit-fill-available;" class="btn btn-outline-success" type="submit" id="createEmployee">Create Employee</button>
    </div>
    <div class="col-md-3 mb-3" style="margin-top: 2rem;">
      <button class="btn btn-outline-danger" id="cancelEmployee">Cancel</button>
    </div>
  </div>

<p class="error" hidden id="errormessage"></p>
</form>

<div id="managerDashboarddiv">
  {{!-- loop through allEmployees object --}}
  <table id="employeesTable" class="table table-striped table-hover">
      <thead>
          <tr id="employeesTableHeader">
          <th>Name</th>
          <th>Status</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Gender Identity</th>
          <th>Hourly Pay</th>
          <th>Employment Status</th>
          <th>Active</th>
          <th>Started On</th>
          <th>Role</th>
          <th>Actions</th>
          <th>Promote</th>
        </tr>
      </thead>
      <tbody>
        {{#each allEmployees}}
          <tr data-employee-id="{{_id}}">
            <td class="employeeName">{{firstName}} {{lastName}}</td>
            <td class="employeeStatus">{{currentStatus}}</td>
            <td class="employeeEmail">{{email}}</td>
            <td class="employeePhone">{{phone}}</td>
            <td class="employeeAddress">{{address}}, {{city}} {{state}}, {{zip}}</td>
            <td class="employeeGender">{{gender}}</td>
            <td class="employeeHourlyPay">${{hourlyPay}}</td>
            <td class="employeeEmployment">{{employmentStatus}}</td>
            {{#if isActiveEmployee}}
              <td class="employeeActive">Yes</td>
            {{else}}
              <td class="employeeActive">No</td>
            {{/if}}
            <td class="employeeStart">{{dateFormat startDate "MM/D/YYYY"}}</td>
            {{#if isManager}}
              <td class="employeeManager">Manager</td>
            {{else}}
              <td class="employeeManager">Employee</td>
            {{/if}}
            <td>
              <i data-employee-id="{{_id}}" class="editEmployee bi bi-pencil-square" style="cursor:pointer"></i>
              <i data-employee-id="{{_id}}" class="deleteEmployee bi bi-trash-fill" style="cursor:pointer"></i>
            </td>
            <td>
              {{#if isManager}}
                <button class="updateEmployee btn btn-primary" value={{_id}} style="line-height: inherit; padding: revert;" >Demote to Employee</button>
              {{else}}
                <button class="updateEmployee btn btn-primary" value={{_id}} style="line-height: inherit; padding: revert;" >Promote to Manager</button>
              {{/if}}
            </td>
          </tr>
          {{else}}
          <tr>
              <td colspan="12">There are no employees.</td>
          </tr>
        {{/each}}
      </tbody>
  </table>
  <p hidden id="noEmployeeFound">No employees found</p>



  {{#if isBusiness}}
    <input type="bool" hidden id="isBusiness" value="{{isBusiness}}" />
    <button hidden class="btn btn-outline-secondary" id="backToHome">Back to Home</button>
  {{else}}
    <button class="btn btn-outline-secondary" id="backToHome">Back to Home</button>
  {{/if}}

  <button class="btn btn-outline-primary" id="newEmployee">Create New Employee</button>

  {{#if isBusiness}}
  <button class="btn btn-outline-primary" id="updateBusinessInfo">Update Business Info</button>
  {{! form to update business info }}
  <div id="updateBusinessInfoModal" class="modal" >
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Update Business Info</h3>
      </div>
      <div class="modal-body">
        <form id="updateBusinessInfoForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="updateBusinessName">Business Name</label>
              <input required type="text" class="form-control" id="updateBusinessName" name="businessName" placeholder="Business Name" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="updateEmail">Email</label>
              <input required type="email" class="form-control" id="updateEmail" name="email" placeholder="Email" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="updateAddress">Address</label>
              <input required type="text" class="form-control" id="updateAddress" name="address" placeholder="Address" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="updateCity">City</label>
              <input required type="text" class="form-control" id="updateCity" name="city" placeholder="City" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="updateState">State</label>
              <input required type="text" class="form-control" id="updateState" name="state" placeholder="State" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="updateZip">Zip</label>
              <input required type="text" class="form-control" id="updateZip" name="zip" placeholder="Zip" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="updatePhoneNumber">Phone Number :</label>
              <input required type="text" class="form-control" id="updatePhoneNumber" name="phoneNumber" placeholder="Phone Number" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="updateAbout">About :</label>
              <input required type="text" class="form-control" id="updateAbout" name="about" placeholder="About the business" />
            </div>
            <p id="modalErrorMessage" class="error" hidden></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-success" id="saveUpdateBusiness">Save</button>
        <button class="btn btn-outline-danger" id="cancelUpdateBusiness">Cancel</button>
      </div>
    </div>
  </div>
  {{/if}}

  {{! form to edit an employee }}
  <div id="editEmployeeModal" class="modal" >
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Employee</h3>
      </div>
      <div class="modal-body">
        <form id="editEmployeeForm">
          <div class="row">
            <div class="col-12 mb-3">
              <label for="editEmail" class="form-label">Email</label>
              <input required type="email" class="form-control" id="editEmail" name="email" placeholder="Email" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="editFirstName" class="form-label">First Name</label>
              <input required type="text" class="form-control" id="editFirstName" name="firstName" placeholder="First Name" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="editLastName" class="form-label">Last Name</label>
              <input required type="text" class="form-control" id="editLastName" name="lastName" placeholder="Last Name" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="editGender" class="form-label">Gender Identity</label>
              <select class="form-select" aria-label="Default select example" name="gender" id="editGender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Transgender">Transgender</option>
                <option value="Gender Neutral">Gender Neutral</option>
                <option value="Non-Binary">Non-Binary</option>
                <option value="Prefer Not to Say">Prefer Not to Say</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="editAddress">Address</label>
              <input required type="text" class="form-control" id="editAddress" name="address" placeholder="Address" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="editCity">City</label>
              <input required type="text" class="form-control" id="editCity" name="city" placeholder="City" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="editState">State</label>
              <input required type="text" class="form-control" id="editState" name="state" placeholder="State" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="editZip">Zip</label>
              <input required type="text" class="form-control" id="editZip" name="zip" placeholder="Zip" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="editPhoneNumber">Phone Number</label>
              <input required type="text" class="form-control" id="editPhoneNumber" name="phoneNumber" placeholder="Phone Number" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="editEmploymentStatus">Employment Status</label>
              <select class="form-select" aria-label="Default select example" name="employmentStatus" id="editEmploymentStatus">
                <option value="Full-Time">Full-Time</option>
                <option value="Part-Time">Part-Time</option>
                <option value="Contract">Contract</option>
                <option value="Intern">Intern</option>
                <option value="Temporary">Temporary</option>
                <option value="Volunteer">Volunteer</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="editIsActiveEmployee">Is Active Employee</label>
              <select class="form-select" aria-label="Default select example" name="isActiveEmployee" id="editIsActiveEmployee">
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="editHourlyPay">Hourly Pay</label>
              <input required type="number" class="form-control" id="editHourlyPay" name="hourlyPay" placeholder="Hourly Pay" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="editStartDate">Start Date</label>
              <input required type="date" class="form-control" id="editStartDate" name="startDate" />
            </div>
            <p id="modalErrorMessage" class="error" hidden></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-success" id="saveEditEmployee">Save</button>
        <button class="btn btn-outline-danger" id="cancelEditEmployee">Cancel</button>
      </div>
    </div>
  </div>

  <div id="deleteEmployeeModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this employee? This cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" id="cancelDeleteEmployee">Cancel</button>
        <button class="btn btn-danger" id="confirmDeleteEmployee">Delete</button>
      </div>
    </div>
  </div>

<h4>Time Off Requests</h4>
<div class="alert alert-success alert-dismissible fade show" id="alertTimeOff" hidden role="alert">
  <p class="mb-0" id="timeOffAlertText"></p>
  <button type="button" class="btn-close" aria-label="Close" id="timeOffAlertClose"></button>
</div>
<table class="table table-striped table-hover" id="timeOffRequestTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each timeOffRequests}}
      <tr>
        <td>{{employeeName}}</td>
        <td>{{dateFormat timeOffStartDate "M/D/YYYY"}}</td>
        <td>{{dateFormat timeOffEndDate "M/D/YYYY"}}</td>
        <td>
          <button class="updateRequest btn btn-primary" id="timeOffReqAccept" value={{objId}} style="line-height: inherit; padding: revert;">Accept</button>
          <button class="updateRequest btn btn-primary" id="timeOffReqDecline" value={{objId}} style="line-height: inherit; padding: revert;">Decline</button>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="100%">There are no pending time off requests.</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br />

  <hr />

  <h2 style="margin-top:15px">Payroll Calculation</h2>

  <div class="col-md-3 mb-3" style="margin-top: 1rem;">
      <form action="/manager/calculate" method="POST" style="display:inline">
          <button style="width: -webkit-fill-available;" class="btn btn-outline-success" type="submit" id="calculateButton">
              {{#if pastCalculations}}
              Calculate Paychecks since {{dateFormat pastCalculations.[0].[0].date "MM/D/YYYY"}}
              {{else}}
              Calculate Current Paychecks
              {{/if}}
          </button>
      </form>
  </div>

  <div class="row">
      <div class="col-md-4">
          {{#if pastCalculations}}
          <h3 style="margin-top:20px">Past Pay Periods</h3>
          <table id="pastCalculationsTable" class="table table-striped">
              <thead>
                  <tr>
                      <th style="width:30px">#</th>
                      <th>Date</th>
                  </tr>
              </thead>
              <tbody>
                  {{#each pastCalculations}}
                  <tr>
                      <td>{{@index}}</td>
                      <td>
                          <form action="/manager" method="POST" id="calculate{{@index}}">
                              <input type="text" hidden name="calculationDate" value="{{{this.[0].date}}}" />
                              <a style="color:#006af6" title="Click to view calculation for {{dateFormat this.[0].date "MM/D/YYYY"}}" href="#" onclick="document.getElementById('calculate{{@index}}').submit();return false;">Calculation on {{dateFormat this.[0].date "MM/D/YYYY"}}</a>
                          </form>
                      </td>
                  </tr>
                  {{/each}}
              </tbody>
          </table>
          {{/if}}
      </div>
      <div class="col-md-8">
          {{#if payChecks}}
          <h3 style="margin-top:20px">Paychecks calculated on {{dateFormat payChecks.[0].date "MM/D/YYYY"}}</h3>
          <table id="calculationTable" class="table table-striped">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Comments</th>
                      <th>Work Hours</th>
                      <th>Lunch Hours</th>
                      <th>Pay</th>
                      <th>Pay (with lunch)</th>
                  </tr>
              </thead>
              <tbody>
                  {{#each payChecks}}
                  <tr>
                      <td>{{employeeName}}</td>
                      <td>{{#each allComments}}{{this}}{{#unless @last}},&nbsp;{{/unless}}{{/each}}</td>
                      <td>{{totalHoursString}}</td>
                      <td>{{totalLunchHoursString}}</td>
                      <td>{{totalPayString}}</td>
                      <td>{{totalPayLunchString}}</td>
                  </tr>
                  {{/each}}
                  </tr>
              </tbody>
          </table>
          {{/if}}
      </div>
  </div>
</div>


<script src="../../public/js/managerPageValidation.js" ></script>
<script src="../../public/js/manager.js"></script>
