<div class="alert alert-success alert-dismissible fade show" id="alert" hidden role="alert">
    <p class="mb-0" id="alertText">Successfully promoted employee to manager.</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h1>Manager Dashboard</h1>

{{#if allEmployees}}

{{!-- create a search box to filter employees --}}
<div class="form-group row">
    <div class="col-6">
        <h2>Employee Management</h2>
    </div>
    <div class="col-6">
        <input type="text" class="form-control" id="searchEmployee" placeholder="Search for an employee">
    </div>
</div>

{{!-- loop through allEmployees object --}}
<table id="employeesTable" class="table table-striped table-hover">
    <thead>
        <tr id="employeesTableHeader">
        <th>Name</th>
        <th>Status</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Gender Identity</th>
        <th>Hourly Pay</th>
        <th>Employment Status</th>
        <th>Active</th>
        <th>Started On</th>
        <th>Role</th>
        <th>Actions</th>
        <th style="width: 200px;">Promote</th>
      </tr>
    </thead>
    <tbody>
      {{#each allEmployees}}
        <tr employee-id="{{_id}}">
          <td class="employeeName">{{firstName}} {{lastName}}</td>
          <td class="employeeStatus">{{currentStatus}}</td>
          <td class="employeeEmail">{{email}}</td>
          <td class="employeePhone">{{phone}}</td>
          <td class="employeeAddress">{{address}}, {{city}} {{state}}, {{zip}}</td>
          <td class="employeeGender">{{gender}}</td>
          <td class="employeeHourlyPay">${{hourlyPay}}</td>
          <td class="employeeEmployment">{{employmentStatus}}</td>
          {{#if_eq isActiveEmployee "true"}}
            <td class="employeeActive">Yes</td>
          {{else}}
            <td class="employeeActive">No</td>
          {{/if_eq}}
          <td class="employeeStart">{{dateFormat startDate "M/D/YYYY"}}</td>
          {{#if isManager}}
            <td class="employeeManager">Manager</td>
          {{else}}
            <td class="employeeManager">Employee</td>
          {{/if}}
          <td>
            <a href="#" class="editEmployee" employee-id="{{_id}}"><i class="fa-solid fa-pen"></i></a>
            <a href="#" class="deleteEmployee" employee-id="{{_id}}"><i class="fa-solid fa-trash"></i></a>
            <a href="#" class="viewEmployee" employee-id="{{_id}}"><i class="fa-solid fa-clock"></i></a>
          </td>
          <td>
            {{#if_eq isManager false}}
                <button class="promoteEmployee btn btn-primary" value={{_id}} style="line-height: inherit; padding: revert;" >Promote as Manager</button>
            {{/if_eq}}
        </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

{{#if isBusiness}}
  <input type="bool" hidden id="isBusiness" value="{{isBusiness}}" />
  <button hidden class="btn btn-outline-secondary" id="backToHome">Back to Home</button>
{{else}}
  <button class="btn btn-outline-secondary" id="backToHome">Back to Home</button>
{{/if}}

<button class="btn btn-outline-primary" id="newEmployee">Create New Employee</button>

{{! form to edit an employee }}
<div id="editEmployeeModal" class="modal" display="none" employee-id="">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Edit Employee</h4>
    </div>
    <div class="modal-body">
      <form id="editEmployeeForm">
        <div class="row">
          <div class="col-12 mb-3">
            <label for="email" class="form-label">Email</label>
            <input required type="email" class="form-control" id="editEmail" name="email" placeholder="Email" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input required type="text" class="form-control" id="editFirstName" name="firstName" placeholder="First Name" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input required type="text" class="form-control" id="editLastName" name="lastName" placeholder="Last Name" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="gender" class="form-label">Gender Identity</label>
            <select class="form-select" aria-label="Default select example" name="gender" id="editGender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Transgender">Transgender</option>
              <option value="Gender Neutral">Gender Neutral</option>
              <option value="Non-Binary">Non-Binary</option>
              <option value="Prefer Not to Say">Prefer Not to Say</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="address">Address</label>
            <input required type="text" class="form-control" id="editAddress" name="address" placeholder="Address" />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="city">City</label>
            <input required type="text" class="form-control" id="editCity" name="city" placeholder="City" />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="state">State</label>
            <input required type="text" class="form-control" id="editState" name="state" placeholder="State" />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="zip">Zip</label>
            <input required type="text" class="form-control" id="editZip" name="zip" placeholder="Zip" />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="phoneNumber">Phone Number</label>
            <input required type="text" class="form-control" id="editPhoneNumber" name="phoneNumber" placeholder="Phone Number" />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="employmentStatus">Employment Status</label>
            <select class="form-select" aria-label="Default select example" name="employmentStatus" id="editEmploymentStatus">
              <option selected value="Full-Time">Full-Time</option>
              <option value="Part-Time">Part-Time</option>
              <option value="Contract">Contract</option>
              <option value="Intern">Intern</option>
              <option value="Temporary">Temporary</option>
              <option value="Volunteer">Volunteer</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="isActiveEmployee">Is Active Employee</label>
            <select class="form-select" aria-label="Default select example" name="isActiveEmployee" id="editIsActiveEmployee">
              <option selected value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="hourlyPay">Hourly Pay</label>
            <input required type="number" class="form-control" id="editHourlyPay" name="hourlyPay" placeholder="Hourly Pay" />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="startDate">Start Date</label>
            <input required type="date" class="form-control" id="editStartDate" name="startDate" placeholder="Start Date" />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" for="isManager">Is Manager</label>
            <select class="form-select" aria-label="Default select example" name="isManager" id="editIsManager">
              <option value="true">True</option>
              <option value="false" selected>False</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-success" id="saveEditEmployee">Save</button>
      <button class="btn btn-outline-danger" id="cancelEditEmployee">Cancel</button>
    </div>
  </div>
</div>

<div id="deleteEmployeeModal" class="modal" display="none" employee-id="">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Are you sure?</h4>
    </div>
    <div class="modal-body">
      <p>Do you really want to delete this employee? This cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" id="cancelDeleteEmployee">Cancel</button>
      <button class="btn btn-danger" id="confirmDeleteEmployee">Delete</button>
    </div>
  </div>
</div>

{{! form to create new employee }}
<form hidden id="newEmployeeForm" action="/manager/new" method="POST">
  <div class="row">
    <div class="col-12 mb-3">
      <label for="email" class="form-label">Email</label>
      <input required type="email" class="form-control" id="email" name="email" value="{{email}}" placeholder="Email" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="password" class="form-label">Password</label>
      <input required type="password" class="form-control" id="password" name="password" value="{{password}}" placeholder="Password" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input required type="password" class="form-control" id="confirmPassword" name="confirmPassword" value="{{confirmPassword}}" placeholder="Confirm Password" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input required type="text" class="form-control" id="firstName" name="firstName" value="{{firstName}}" placeholder="First Name" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input required type="text" class="form-control" id="lastName" name="lastName" value="{{lastName}}" placeholder="Last Name" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="gender" class="form-label">Gender Identity</label>
      <select class="form-select" aria-label="Default select example" name="gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Transgender">Transgender</option>
        <option value="Gender Neutral">Gender Neutral</option>
        <option value="Non-Binary">Non-Binary</option>
        <option value="Prefer Not to Say">Prefer Not to Say</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="address">Address</label>
      <input required type="text" class="form-control" id="address" name="address" value="{{address}}" placeholder="Address" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="city">City</label>
      <input required type="text" class="form-control" id="city" name="city" value="{{city}}" placeholder="City" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="state">State</label>
      <input required type="text" class="form-control" id="state" name="state" value="{{state}}" placeholder="State" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="zip">Zip</label>
      <input required type="text" class="form-control" id="zip" name="zip" value="{{zip}}" placeholder="Zip" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="phoneNumber">Phone Number</label>
      <input required type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="{{phoneNumber}}" placeholder="Phone Number" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="employmentStatus">Employment Status</label>
      <select class="form-select" aria-label="Default select example" name="employmentStatus" id="employmentStatus">
        <option selected value="Full-Time">Full-Time</option>
        <option value="Part-Time">Part-Time</option>
        <option value="Contract">Contract</option>
        <option value="Intern">Intern</option>
        <option value="Temporary">Temporary</option>
        <option value="Volunteer">Volunteer</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="isActiveEmployee">Is Active Employee</label>
      <select class="form-select" aria-label="Default select example" name="isActiveEmployee" id="isActiveEmployee">
        <option selected value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="hourlyPay">Hourly Pay</label>
      <input required type="number" class="form-control" id="hourlyPay" name="hourlyPay" value="{{hourlyPay}}" placeholder="Hourly Pay" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="startDate">Start Date</label>
      <input required type="date" class="form-control" id="startDate" name="startDate" value="{{startDate}}" placeholder="Start Date" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label" for="isManager">Is Manager</label>
      <select class="form-select" aria-label="Default select example" name="isManager" id="isManager">
        <option value="true">True</option>
        <option value="false" selected>False</option>
      </select>
    </div>
    <div class="col-md-3 mb-3" style="margin-top: 2rem;">
      <button style="width: -webkit-fill-available;" class="btn btn-outline-success" type="submit" id="createEmployee">Create Employee</button>
    </div>
    <div class="col-md-3 mb-3" style="margin-top: 2rem;">
      <button class="btn btn-outline-danger" id="cancelEmployee">Cancel</button>
    </div>
  </div>
</form>

{{!-- if error --}}
{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}

<script src="../../public/js/manager.js"></script>
