<h1>Business Signup page</h1>

<form action="/businesses/signup" method="POST">
    <label for="businessName">Business Name : </label>
    <input required type="text" id = "businessName" name="businessName" value="{{businessName}}" placeholder="businessName">
    <label for="email">Email : </label>
    <input required type="text" id = "email" name="email" value="{{email}}" placeholder="email">
    <label for="password">Password : </label>
    <input required type="password" id = "password" name="password" value="{{password}}" placeholder="password">
    <label for="address">Address :</label>
    <input required type="text" id = "address" name="address" value="{{address}}" placeholder="address">
    <label for="city">City :</label>
    <input required type="text" id = "city" name="city" value="{{city}}" placeholder="city">
    <label for="state">State :</label>
    <input required type="text" id = "state" name="state" value="{{state}}" placeholder="state">
    <label for="phoneNumber">Phone Number :</label>
    <input required type="text" id = "phoneNumber" name="phoneNumber" value="{{phoneNumber}}" placeholder="phoneNumber">
    <label for="about">About :</label>
    <input required type="text" id = "about" name="about" value="{{about}}" placeholder="about">

    <button type="submit" id="checkSignup">Signup</button>
</form>


<a href="/businesses/login">Already have a business account? Click here to log-in</a>

{{!-- error --}}
{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}